@media (max-width:780px) {

  .footer a {
    font-size: 45px;
    color: red;
    display: inline-block;
    width: 900px;
    height: 100px;
    background-color: #336699;
    margin: 90px auto;
    border-radius: 10px;
    line-height: 100px;
    box-shadow: 0 10px #003366;
  }
  
}
